@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

section {
  background: white;
}

nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}

li {
  text-decoration: none;
}

h1 {
  font-size: 90px;
  margin: 0;
}

h2 {
  font-size: 50px;
}

p {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #ccc;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

footer {
  background: black;
  color: #fff;
  text-align: center;
  padding: 80px;
}

footer p {
  margin-bottom: 20px;
}

/* Hero section */

.hero {
  background: #1c1d25;
  height: 100vh;
  color: white;
  font-size: 40px;
}

.hero-area {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 80px;
  margin: 30px;
}

.nav-list {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 30px;
}

.hamburger {
  display: none;
}

.hamburger:focus {
  outline: none;
}

.hamburger:hover {
  color: #ccc;
}

.hero-text {
  margin-left: 80px;
  margin-bottom: 200px;
}

.socials {
  margin-bottom: 200px;
}

.social {
  margin: 10px 10px;
  display: block;
}

.social-icon {
  font-size: 50px;
  color: #fff;
}

.social-icon:hover {
  color: #ccc;
}

.button {
  width: 200px;
  height: 55px;
  border-radius: 30px;
  background-color: coral;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  padding-top: 5px;
  margin-top: 20px;
}

.button:hover {
  background-color: #ef766b;
}

.button:active {
  background-color: #a9a9a9;
  color: #808080;
}

/* About me section */

.sub-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 80px;
}

.information {
}

img.headshot {
  width: 300px;
  border-radius: 150px;
}

/* Projects section */

.projects-section {
  flex-direction: column;
}

.project-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.project-card {
  width: 300px;
  height: 500px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 10px;
}

.project-image {
  margin-top: 25px;
  width: 250px;
  height: 250px;
  border-radius: 125px;
}

.subtext {
  font-size: 15px;
  font-weight: 300;
}

.project-link {
  text-decoration: none;
  color: #ef744b;
}

@media only screen and (max-width: 1000px) {
  nav {
    align-items: flex-start;
    background-color: #1c1d25;
  }

  footer {
    padding: 5%;
  }

  .sub-section {
    flex-direction: column;
    padding: 5%;
  }

  .about-me-section {
    flex-direction: column-reverse;
    text-align: center;
  }

  .headshot-container {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .nav-list {
    display: none;
    font-size: 30px;
    margin: 0px;
  }

  .nav-list.show {
    display: block;
  }

  .logo {
    height: 30px;
    margin: 10px;
  }

  .hamburger {
    display: block;
    color: #fff;
    background: none;
    border: none;
    font-size: 30px;
    margin: 10px;
  }
  .project-container {
    flex-direction: column;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 40px;
  }

  p {
    font-size: 20px;
  }

  .hero {
    font-size: 30px;
  }
  .social-icon {
    font-size: 30px;
  }
  .button {
    font-size: 25px;
    width: 175px;
    height: 45px;
  }
}
